* {
  margin: 2%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
}

div {
  width: 90%;
}

span{
  color: gold;
}

h1,h2,h3 {
  text-align: center;
}

img {
  height: 50%;
  width: 75%;
  border-radius: 50%;
  box-shadow: 3px 3px 3px gray;
}

button {
  background-color: lightblue;
  box-shadow: 3px 3px 3px lightgray;
  width: 150px;
  height: 40px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 13px;
}

a {
  color: lightblue;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}


input {
  border: solid lightblue;
  height: 30px;
  width: 200px;
  text-align: center;
  padding: 5px;
}

.toBlue{
  color: lightblue;
}

.userHeading {
  color: lightblue;
}

.postDev {
  color: gold;
}

.love{
  color: lightblue;
}

.inspire{
  color:lightblue;
}

.newLink{
  margin:10px;
  text-decoration: none;
  height: 15vh;
  color:lightblue;
}

.homeText{
  font-size:45px;
  height: 100vh;
  width: 100%;
}


.boxHolder{
  height: 40%;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.bigBox{
  width: 30%;
  height: 100%;
  background-color: gainsboro;
  box-shadow: 5px 5px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}